.App {
  text-align: center;
}

.balls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ball {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 5px;
}

button {
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

